

<div markdown="0" id="carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover" >
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
    </ol>

    <!-- Items -->
    <div class="carousel-inner" markdown="0" style="justify-content: center;">
        <div class="item active">
            <div class="image-container">
                <img src="{{ site.url }}{{ site.baseurl }}/images/carouselpic/sparrow.jpg" alt="Slide 1: SPARROW" style="height: 400px;"/>
            </div>  
            <a href="https://chemistry-europe.onlinelibrary.wiley.com/doi/full/10.1002/cssc.202401414" target="_blank">
                <div class="carousel-caption">
                    <p style="font-weight: 600;">DES on Biocatalysis</p>
                    <p> Read about our molecular analysis of α-chymotripsin stability</p>
                </div>  
            </a>
        </div>
        <div class="item">
            <div class="image-container">
                <img src="{{ site.url }}{{ site.baseurl }}/images/carouselpic/hydrotope.jpeg" alt="Slide 2: ChemProjector" style="height: 400px;"/>
            </div>
            <a href="https://pubs.acs.org/doi/full/10.1021/acs.jpcb.5c01542" target="_blank">
                <div class="carousel-caption">
                    <p style="font-weight: 600;">Solute-Hydrotope Aggregation</p>
                    <p> Understanding hydrotopy using molecular simulations</p>
                </div>  
            </a>
        </div>
        <div class="item">
            <div class="image-container">
                <img src="{{ site.url }}{{ site.baseurl }}/images/carouselpic/epicatechin.jpeg" alt="Slide 3: Suzuki" style="height: 400px;"/>
            </div>
            <a href="https://pubs.acs.org/doi/full/10.1021/acs.jced.4c00448" target="_blank">
                <div class="carousel-caption">
                    <p style="font-weight: 600;">Solubility in DES</p>
                    <p> Using PC-SAFT to model solute solubility in DES</p>
                </div>  
            </a>
        </div>
        <div class="item">
            <div class="image-container">
                <img src="{{ site.url }}{{ site.baseurl }}/images/carouselpic/ionone.jpeg" alt="Slide 4: RDCanon" style="height: 400px;"/>
            </div>
            <a href="https://pubs.acs.org/doi/pdf/10.1021/acssuschemeng.3c01739" target="_blank">
                <div class="carousel-caption">
                    <p style="font-weight: 600;">Proccess simulation in Bioseparations</p>
                    <p> Using Aspen Plus to adress the in-situ product recovery from fermentation</p>
                </div>  
            </a>
        </div>
        <div class="item">
            <div class="image-container">
                <img src="{{ site.url }}{{ site.baseurl }}/images/carouselpic/paulo.jpg" alt="Slide 5: ICEBERG" style="height: 400px;"/>
            </div>
            <a href="https://www.sciencedirect.com/science/article/pii/S0167732223016616" target="_blank">
                <div class="carousel-caption">
                    <p style="font-weight: 600;">DES physical properties</p>
                    <p> Molecular insigths of water effects on glycol based DES</p>
                </div>  
            </a>
        </div>
    </div>
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>